<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knowzy.app">

    <application
        android:allowBackup="true"
        android:label="Knowzy"
        android:theme="@style/Theme.Knowzy">

        <!-- Splash Activity -->
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.Knowzy.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>